/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

img {
    max-width: 100%;
}



/* LAYOUT */

.container{
    width: 1000px;
    margin: 0 auto;

}

.col-33{
    width: calc(100% / 3);
    padding: 0px 5px;
    margin-bottom: 30px;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

body{
    position: relative;
}

/* CARD */

.card{
   
}
.brand-name{
    font-size: 12px;
    color: gray;
}

.model-name{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;

}

.price{
    font-size: 12px;
    color: red;
}

.price .old-price{
    color: black;
    text-decoration: line-through;
}


.discount-marker, .eco-marker{
    display: none;
    color: #ffffff;
    padding: 5px 10px; 
    font-weight: bold;   
}

.discount-marker{
    background-color: red;
}

.eco-marker{
    background-color: green;
}

.marker{
    position: absolute;
    bottom: 40px;
    z-index: 99;
}

.favorite{
    font-size: 40px;
    background-color: #ffffff;
    display: inline-block;
    padding: 0 12px;
    position: absolute;
    top: 15px;
    right: 0px;
    z-index: 99;
}

.card-image{
    position: relative;
}

.second-foto{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.card:hover .second-foto{
    z-index: 2;
}

.card:hover .favorite {
    color: red;
}

.favorite:hover{
    background-color: rgba(0,0,0,0.4);
}

main{
    padding: 110px 0px 50px 0px;
}



/* header */

header .row{
    justify-content: space-between;
    
}

.main-nav{
    padding: 10px 10px;
    margin-bottom: 50px;
    
}

header{
    background-color: orange;
    position: fixed;
    height: 60px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    color: #ffffff;
    font-weight: bold;
}

.nav-menu, .nav-button{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: nowrap;
    align-items: center;

}

.nav-menu a, .nav-button a{
    padding: 10px 5px;
}

.brand-logo{
    width: 200px;

}

footer{
    background-color: black;
    color: #ffffff;
    padding: 20px 0px;
    font-size: 16px;
}

.main-footer{
    display: flex;
    justify-content: space-between;
}

.social-media a{
    margin-right: 10px;
    font-size: 25px;


}

.social-link, .society{
    margin: 10px 0px;
}






/* UTILITY */

.eco .eco-marker{
    display: inline-block;

}

.discount .discount-marker{
    display: inline-block;
}



