/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

img {
    max-width: 100%;
}



/* LAYOUT */

.container{
    width: 1000px;
    margin: 0 auto;

}

.col-33{
    width: calc(100% / 3);
    padding: 0px 5px;
}

.row{
    display: flex;
    flex-wrap: wrap;
}


/* CARD */

.brand-name{
    font-size: 12px;
    color: gray;
}

.model-name{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;

}

.price{
    font-size: 12px;
    color: red;
}

.price .old-price{
    color: black;
    text-decoration: line-through;
}




/* FEATURES */














/* UTILITY */






